html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header {
    background-color: #1F2937;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 200px;
    padding-right: 200px;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}
ul {
    display: flex; 
    list-style: none;
    color: #E5E7EB;
    font-size: 18px;
}
ul li {
    padding-left: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 70px 200px;
    margin: 0;
}
.hero-heading {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}
.hero-text p {
    color: #E5E7EB;
    padding-right: 40px;
}
button {
    background-color: #3882F6;
    padding: 8px 18px;
    border: none;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: bold;
}

.random-section {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 200px 80px 200px;
    gap: 8px;
}
.random-section h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}
.images {
    display: flex;
    justify-content: center;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info img {
    border-radius: 10px;
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.info p {
    color: #1F2937;
    text-align: center;
}

.quote-section {
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    padding: 60px 200px 80px 200px;
    background-color: #E5E7EB;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}
.author {
    font-weight: bold;
    padding-top: 3px;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 200px;
}
.container {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding:30px 200px;
    margin: 0;
    gap: 50px;
}
.action-heading {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
.text-call p {
    color: #F9FAF8;
    margin: 0;
}
.action-section button {
    border: 2px solid white;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px;
}